Setup

In [10]:
import pandas as pd

books = pd.read_csv("books.csv")
books.head()

,Title,Book_category,Star_rating,Price,Stock,Quantity
0,A Light in the Attic,Poetry,Three,51.77,In stock,22
1,Tipping the Velvet,Historical Fiction,One,53.74,In stock,20
2,Soumission,Fiction,One,50.10,In stock,20
3,Sharp Objects,Mystery,Four,47.82,In stock,20
4,Sapiens: A Brief History of Humankind,History,Five,54.23,In stock,20

What is "default" category? Could potentially be a book that belongs to an indederminate genre, or a substitute for NULL, regardless, for this project books categorized as "default" will be disregarded when determining the most popular book category if necessary.

Info

In [16]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1000 non-null   object
 1   Book_category  1000 non-null   object
 2   Star_rating    1000 non-null   object
 3   Price          1000 non-null   float64
 4   Stock          1000 non-null   object
 5   Quantity       1000 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

Project Goals:
   
    1. Determine the genre with the most 5 star rated books.
    2. I personally enjoy science fiction novels, So we will determine the books within the Science Fiction genre that are the best value for money (Highest star rating for the lowest price).

In [27]:
# isolate the 5 Star rated books
five_star_books = books[books.Star_rating == "Five"]
# group by genre where star rating is 5 and display the counts in descending order
five_star_books.Book_category.value_counts(ascending=False)

Book_category
Default               29
Nonfiction            20
Fiction               17
Young Adult           15
Sequential Art        12
Fantasy               10
Add a comment          8
Historical Fiction     8
Food and Drink         7
Poetry                 6
Mystery                5
Womens Fiction         4
Humor                  4
History                4
Romance                4
Music                  4
Autobiography          3
Spirituality           3
Business               3
Christian Fiction      3
Childrens              3
Health                 2
Horror                 2
Science                2
Thriller               2
Philosophy             2
New Adult              2
Sports and Games       1
Self Help              1
Art                    1
Adult Fiction          1
Historical             1
Novels                 1
Christian              1
Religion               1
Contemporary           1
Erotica                1
Science Fiction        1
Travel                 1
Name: count, dtype: int64

In [39]:
# Get all science fiction books
science_fiction = books[books.Book_category == "Science Fiction"]
# There is only 1 science fiction book rated 5 stars according to the previous result, 
# we will instead look for 4 star books that are best value for money.
four_star_scifi = science_fiction[science_fiction.Star_rating=="Four"]
four_star_scifi = four_star_scifi.sort_values(by="Price")
four_star_scifi

,Title,Book_category,Star_rating,Price,Stock,Quantity
791,Ready Player One,Science Fiction,Four,19.07,In stock,3
413,Arena,Science Fiction,Four,21.36,In stock,11
977,Having the Barbarian's Baby (Ice Planet Barbar...,Science Fiction,Four,34.96,In stock,1
129,"William Shakespeare's Star Wars: Verily, A New...",Science Fiction,Four,43.30,In stock,15

In conclusion, It can be determined from this dataset provided, the genre with the most 5 star rated books is Non Fiction, followed closely by Fiction. These are two very broad genres so it is not a surprise that they are the most popular by sheer numbers alone. 

The best value for money book in the Science Fiction genre goes to Ready Player One. While the selection is small for this genre in the dataset, it is still a good deal, and is significantly less than the average cost of all books in the dataset (As seen below).

In [40]:
books.Price.mean()

35.07035